[

{interlay_io,[
    %% TODO: can be nodes later
    {work_node, 'il_work@localhost'}
]},

{eda,
    [{incomming_data_protocols, [
        % Async / Background Example
        {tcp_async_in,[
            {type, tcpv4},
            {cb_mod, il_io_tcpv4},
            {port, 9900},
            {num_acceptors, 1},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]},
        % Sync / ReqResp Example
        {tcp_sync_in,[
            {type, tcpv4},
            {cb_mod, il_io_tcpv4_req_resp},
            {port, 9901},
            {num_acceptors, 1},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]}
      ]},
      {outgoing_data_protocols, []}
    ]
 }

].